@charset "UTF-8";

/* Font - Satoshi */

@font-face {
    font-family: "Satoshi";
    src: url("../fonts/Satoshi/Satoshi-Regular.otf") format("opentype");
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: "Satoshi";
    src: url("../fonts/Satoshi/Satoshi-Medium.otf") format("opentype");
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: "Satoshi";
    src: url("../fonts/Satoshi/Satoshi-Bold.otf") format("opentype");
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: "Satoshi";
    src: url("../fonts/Satoshi/Satoshi-Black.otf") format("opentype");
    font-weight: 900;
    font-style: normal;
}


/* Font - Satoshi Italic */

@font-face {
    font-family: "Satoshi";
    src: url("../fonts/Satoshi/Satoshi-Italic.otf") format("opentype");
    font-weight: 400;
    font-style: italic;
}

@font-face {
    font-family: "Satoshi";
    src: url("../fonts/Satoshi/Satoshi-MediumItalic.otf") format("opentype");
    font-weight: 500;
    font-style: italic;
}

@font-face {
    font-family: "Satoshi";
    src: url("../fonts/Satoshi/Satoshi-BoldItalic.otf") format("opentype");
    font-weight: 700;
    font-style: italic;
}

@font-face {
    font-family: "Satoshi";
    src: url("../fonts/Satoshi/Satoshi-BlackItalic.otf") format("opentype");
    font-weight: 900;
    font-style: italic;
}


/* Palette */

:root {
    --deepest-violet: #15111A;
    --dark-violet: #1D1724;
    --violet-surface: #261E2F;
    --muted-violet: #30263A;
    --soft-violet: #4A3A57;
    --dusty-violet: #624D72;
    --light-violet: #8A7397;
    --pale-lavender: #C7BDCC;
    --almost-white: #E7E1E9;
}


/* Stile Generale */

body {
	margin: 0;
    background-color: var(--deepest-violet);
    color: var(--pale-lavender);
    font-family: "Satoshi", sans-serif;
    font-weight: 500;
}

header {
    background-color: var(--deepest-violet);
}

p {
    color: var(--pale-lavender);
    font-weight: 500;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    color: var(--almost-white);
    font-weight: 700;
}


/* Header Top */

.header-top {
    display: grid;
    grid-template-columns: 1fr auto 1fr;
    column-gap: 60px;
    align-items: center;
    padding: 30px 40px 0 40px;
}

/* Footer */

footer {
    background-color: var(--violet-surface);
    color: var(--pale-lavender);
    text-align: center;
    padding: 35px 0 15px 0;
    margin-top: 50px;
}

footer .logo {
	justify-self: center;
}

footer .logo img {
	height: 80px;
	width: auto;
	display: block;
}

footer .logo p {
    margin: 0 0 50px;
    color: var(--light-violet);
    font-size: 20px;
}

footer .nav {
    display: flex;
    justify-content: center;
    gap: 35px;
    margin-bottom: 25px;
}

footer .bottom {
    border-top: 1px var(--muted-violet);
    padding-top: 15px;
}

footer .bottom p {
	text-align: center;
    margin: 0;
    color: var(--light-violet);
    font-size: 13px;
}


/* Logo */

.logo {
	justify-self: center;
}

.logo img {
	height: 50px;
	width: auto;
	display: block;
}

/* Barra di ricerca */

.search-bar {
    display: flex;
    width: 600px;
    height: 40px;
}

.search-bar input {
    flex: 1;
    padding: 10px 15px;

    background-color: var(--dark-violet);
    color: var(--almost-white);

    border: 1px solid var(--soft-violet);
    border-radius: 20px 0 0 20px;

    outline: none;

    font-family: "Satoshi", sans-serif;
    font-weight: 500;
}

.search-bar input::placeholder {
    color: var(--light-violet);
    font-family: "Satoshi", sans-serif;
    font-weight: 500;
}

.search-bar input:focus {
    border-color: var(--dusty-violet);
}

.search-bar button {
    padding: 10px 20px;

    background-color: var(--soft-violet);
    color: var(--almost-white);

    border: 1px solid var(--soft-violet);
    border-radius: 0 20px 20px 0;

    cursor: pointer;

    font-family: "Satoshi", sans-serif;
    font-weight: 700;
}

.search-bar button:hover {
    background-color: var(--dusty-violet);
}


/* Account e carrello */

.accedi-registrati {
    display: flex;
    align-items: center;
    justify-self: center;
    gap: 40px;
}

.accedi-registrati a {
    color: var(--pale-lavender);
    text-decoration: none;
    font-weight: 500;
    transition: color 0.2s ease;
}

.accedi-registrati a:hover {
    color: var(--light-violet);
}


/* Navbar */

.navbar {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 35px;
    padding: 30px 40px 12px 40px;
}

.navbar a {
    text-decoration: none;
    font-weight: 500;
}

.navbar a:hover {
    color: var(--light-violet);
}

.separator {
    height: 20px;
    width: 1px;
    background-color: var(--soft-violet);
}

/* Button */

button {
    background-color: var(--soft-violet);
    color: var(--almost-white);

    font-family: "Satoshi", sans-serif;
    font-weight: 700;
}

button:hover {
    background-color: var(--dusty-violet);
}


/* Link */

a,
a:visited {
    color: var(--pale-lavender);
    text-decoration: none;
    font-weight: 500;
    transition: color 0.2s ease;
}

a:hover {
    color: var(--light-violet);
}

a:active {
    color: var(--dusty-violet);
}

/* Home - Banners */

.banners {
    padding: 40px 40px;
}

.top-banners {
	display: flex;
    width: 100%;
    gap: 30px;
}

.top-banners .descrizione {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}

.top-banners .descrizione h1 {
    margin: 0 0 15px 0;
}

.top-banners .descrizione h3 {
    margin: 0 0 80px 0;
}

.top-banners .banner {
    width: 50%;
}

.bottom-banners {
    display: flex;
    flex-direction: row;
    gap: 30px;
}

.bottom-banners .banner {
    width: 50%;
    flex: 1;
}

.banners img {
	width: 100%;
	height: 400px;
	object-fit: cover;
	object-position: center;
	border-radius: 20px;
}

/* Home - Prodotti */

.piattaforme {
    padding: 20px 40px;
}

.piattaforme hr {
	margin-bottom: 30px;
	border-radius: 5px;
	color: var(--pale-lavender);
}

.piattaforme h2 {
    margin-bottom: 20px;
}

.catalogo {
	display: grid;
	grid-template-columns: 250px 1fr;
	gap: 30px;
	padding: 40px;
}

.linea-prodotti {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	gap: 20px;
}

.card-prodotto {
    flex: 1;
    min-width: 0;
}

.card-prodotto img {
    width: 100%;
    aspect-ratio: 16 / 9;
    object-fit: cover;
    border-radius: 15px;
}

.card-prodotto h3 {
    margin: 7px 0 2px 0;
    font-size: 18px;
}

.prezzo {
    font-size: 16px;
    font-weight: 700;
}

.prezzi {
	display: flex;
	gap: 10px;
}

.info-offerta {
	color: var(--light-violet);
	font-size: 16px;
    font-weight: 700;
}

.prezzo-originale {
	text-decoration: line-through;
	font-size: 16px;
    font-weight: 700;
}

.percentuale-sconto {
	color: red;
	font-size: 16px;
    font-weight: 700;
}

.prezzo-scontato {
	font-size: 16px;
    font-weight: 700;
}

/* Sidebar filtri */

.sidebar-filtri {
    background-color: var(--dark-violet);
    border: 1px solid var(--muted-violet);
    border-radius: 15px;
    padding: 25px;
}

.sidebar-filtri h3 {
    margin-top: 0;
    margin-bottom: 25px;
}


/* Checkbox e radio */

.sidebar-filtri label {
    display: flex;
    align-items: center;
    gap: 10px;
    margin: 8px 0;
    cursor: pointer;
    color: var(--pale-lavender);
}


/* Nascondiamo il controllo originale */

.sidebar-filtri input[type="checkbox"],
.sidebar-filtri input[type="radio"] {
    appearance: none;
    -webkit-appearance: none;

    width: 18px;
    height: 18px;

    margin: 0;

    background-color: var(--violet-surface);
    border: 1px solid var(--soft-violet);

    cursor: pointer;

    flex-shrink: 0;
}


/* Checkbox */

.sidebar-filtri input[type="checkbox"] {
    border-radius: 4px;
}

.sidebar-filtri input[type="checkbox"]:checked {
    background-color: var(--dusty-violet);
    border-color: var(--dusty-violet);
}

.sidebar-filtri input[type="checkbox"]:checked::after {
    content: "✓";

    display: block;

    color: var(--almost-white);
    font-size: 13px;
    font-weight: 900;

    text-align: center;
    line-height: 17px;
}


/* Radio Button */

.sidebar-filtri input[type="radio"] {
    border-radius: 50%;
}

.sidebar-filtri input[type="radio"]:checked {
    border-color: var(--dusty-violet);
    box-shadow: inset 0 0 0 4px var(--violet-surface);
    background-color: var(--dusty-violet);
}


/* Hover */

.sidebar-filtri label:hover {
    color: var(--almost-white);
}

.sidebar-filtri label:hover input {
    border-color: var(--dusty-violet);
}


/* Bottone Filtra */

.sidebar-filtri input[type="submit"] {
    width: 100%;

    padding: 10px 20px;

    background-color: var(--soft-violet);
    color: var(--almost-white);

    border: none;
    border-radius: 20px;

    font-family: "Satoshi", sans-serif;
    font-weight: 700;
    font-size: 15px;

    cursor: pointer;

    transition: background-color 0.2s ease;
}

.sidebar-filtri input[type="submit"]:hover {
    background-color: var(--dusty-violet);
}

.pagina-prodotto {
	display: grid;
	grid-template-columns: 1fr 1fr;
	gap: 40px;
	padding: 40px;
}

.prodotto-immagine {
	display: flex;
	justify-content: center;
	align-items: center;
}

.prodotto-immagine img {
	max-width: 100%;
	border-radius: 15px;
}

.card-dati {
	display: flex;
	flex-direction: column;
	gap: 20px;
}

.pagina-prodotto form {
	display: flex;
	width: 50%;
}

.pagina-prodotto select {
	flex: 1;
    padding: 10px 20px 10px 20px;

    background-color: var(--dark-violet);
    color: var(--almost-white);

    border: 1px solid var(--soft-violet);
    border-radius: 20px 0 0 20px;
    border-right: none;

    outline: none;
}

.pagina-prodotto select,
.pagina-prodotto select option {
	font-family: "Satoshi", sans-serif;
	font-weight: 500;
}

.pagina-prodotto input[type="submit"] {
	flex: 1;
    padding: 10px 20px;

    background-color: var(--soft-violet);
    color: var(--almost-white);

    border: none;
    border-radius: 0 20px 20px 0;

    font-family: "Satoshi", sans-serif;
    font-weight: 700;
    font-size: 15px;

    cursor: pointer;

    transition: background-color 0.2s ease;
}

.pagina-prodotto input[type="submit"]:hover {
    background-color: var(--dusty-violet);
}

.card-dati strong {
	color: var(--light-violet)
}

/* Login/Registrazione */

.login-registrazione {
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 40px;
}

#registrazione {
	display: none;
}

.login,
.registrazione {
	margin: 30px 0 50px;
	padding: 30px 70px 40px;

	background-color: var(--dark-violet);
	color: var(--almost-white);

	border: 1px solid var(--soft-violet);
	border-radius: 20px;

	font-family: "Satoshi", sans-serif;
	font-weight: 500;
}

.login h2,
.registrazione h2 {
	text-align: center;
}

.login input,
.registrazione input {
	width: 100%;
	padding: 10px 15px;

	background-color: var(--soft-violet);
	color: var(--almost-white);

	border: 1px solid var(--soft-violet);
	border-radius: 20px;

	font-family: "Satoshi", sans-serif;
	font-weight: 700;
}

.campi-login {
	display: flex;
	flex-direction: column;
	gap: 20px;
}

.campi-registrazione {
	display: grid;
	grid-template-columns: 1fr 1fr;
	gap: 20px;
}

.login-submit,
.registrazione-submit {
	display: flex;
	justify-content: center;
	padding-top: 20px;
}

.login input[type="submit"],
.registrazione input[type="submit"] {
	width: 120px;
	cursor: pointer;
}

.login input[type="submit"]:hover,
.registrazione input[type="submit"]:hover {
	background-color: var(--dusty-violet);
}

.selezioni {
	display: flex;
	gap: 20px;
	padding-top: 30px;
}

.login-selezione,
.registrazione-selezione {
	width: 120px;
	padding: 10px 20px;

	background-color: var(--soft-violet);
	color: var(--almost-white);

	border: 1px solid var(--soft-violet);
	border-radius: 20px;

	cursor: pointer;

	font-family: "Satoshi", sans-serif;
	font-weight: 700;
}

/* Pagina carrello */

.pagina-carrello {
	display: flex;
	padding: 50px 180px;
	gap: 30px;
}

.lista-carrello {
	flex: 1;
}

.prodotto-carrello {
	display: flex;
}

.prodotto-carrello img {
	width: 250px;
	height: auto;
	border-radius: 15px;
	
	margin: 0 25px 25px 0;
}

.dati-prodotto form {
	display: flex;
	align-items: center;
	gap: 15px;
}

.controlli-quantita {
	display: flex;
	align-items: center;
}

.controlli-quantita input,
.controlli-quantita .quantita-prodotto {
	background-color: var(--dusty-violet);
	color: var(--almost-white);
	border: 1px solid var(--dusty-violet);
	height: 30px;
	box-sizing: border-box;
}

.controlli-quantita .decrementa {
	width: 30px;
	height: 30px;
	border-radius: 20px 0 0 20px;
	
	cursor: pointer;
}

.controlli-quantita .quantita-prodotto {
	display: flex;
	align-items: center;
	justify-content: center;

	width: 35px;
	height: 30px;

	border-left: 1px solid var(--pale-lavender);
	border-right: 1px solid var(--pale-lavender);
}

.controlli-quantita .incrementa {
	width: 30px;
	height: 30px;
	border-radius: 0 20px 20px 0;
	
	cursor: pointer;
}

.dati-prodotto .rimuovi {
	width: 70px;
	height: 30px;
	border-radius: 20px;

	background-color: var(--dusty-violet);
	color: var(--almost-white);
	border: 1px solid var(--dusty-violet);

	cursor: pointer;
}

.decrementa:hover,
.incrementa:hover,
.rimuovi:hover {
	background-color: var(--light-violet);
}

.riepilogo-totale {
	width: 300px;
	padding: 30px 30px 15px 30px;
	margin-top: 50px;

	background-color: var(--dark-violet);
	color: var(--almost-white);

	border: 1px solid var(--soft-violet);
	border-radius: 20px;

	align-self: flex-start;
}

.riepilogo-totale .totale,
.riepilogo-totale .sconto,
.riepilogo-totale .totaleScontato {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.riepilogo-totale input[type="submit"] {
	width: 150px;
	height: 34px;
	border-radius: 20px;
	
	background-color: var(--dusty-violet);
	color: var(--almost-white);
	border: 1px solid var(--dusty-violet);

	cursor: pointer;
}

.riepilogo-totale form {
	display: flex;
	justify-content: center;
	margin-top: 20px;
}

/* Pagina checkout */

.pagina-checkout {
	display: flex;
	padding: 50px 180px;
	gap: 30px;
	align-items: flex-start;
}

.contenuto-checkout {
	flex: 1;
}

.riepilogo-prodotti,
.indirizzo,
.metodo-pagamento,
.riepilogo-totale {
	background-color: var(--dark-violet);
	color: var(--almost-white);
	border: 1px solid var(--soft-violet);
	border-radius: 20px;
}

.riepilogo-prodotti {
	padding: 30px;
}

.prodotto-checkout {
	display: flex;
	flex-direction: column;
	gap: 8px;
}

.prodotto-checkout strong:first-child {
	font-size: 18px;
	margin-bottom: 5px;
}

.riepilogo-prodotti hr {
	margin: 25px 0;
	border: 0;
	border-top: 1px solid var(--soft-violet);
}

.indirizzo,
.metodo-pagamento {
	margin-top: 20px;
	padding: 25px 30px;
}

.indirizzo h3,
.metodo-pagamento h3 {
	margin: 0 0 20px;
}

.opzione-indirizzo,
.opzione-pagamento {
	display: flex;
	align-items: center;
	gap: 10px;
	margin-bottom: 12px;
}

.opzione-indirizzo label,
.opzione-pagamento label {
	cursor: pointer;
}

#aggiungi-indirizzo,
#aggiungi-metodo {
	display: block;
	margin-top: 20px;
	padding: 10px 18px;

	background-color: var(--dusty-violet);
	color: var(--almost-white);

	border: 1px solid var(--dusty-violet);
	border-radius: 20px;

	font-family: "Satoshi", sans-serif;
	font-weight: 700;
	cursor: pointer;
}

.pagina-checkout .riepilogo-totale {
	width: 300px;
	padding: 30px 30px 15px 30px;
	margin-top: 70px;
}

/* Pagina profilo */

.pagina-profilo {
	display: flex;
	flex-direction: column;
	align-items: center;
	padding: 30px 180px 50px 180px;
}

.pagina-profilo > h2 {
	margin-bottom: 30px;
}

.informazioni-profilo,
.modifica-profilo {
	width: 500px;
	padding: 30px;

	background-color: var(--dark-violet);
	color: var(--almost-white);

	border: 1px solid var(--soft-violet);
	border-radius: 20px;
}

.informazioni-profilo h3,
.modifica-profilo h3 {
	margin-top: 0;
	margin-bottom: 25px;
	text-align: center;
}

.dato-profilo {
	display: flex;
	justify-content: space-between;
	align-items: center;

	padding: 12px 0;
	border-bottom: 1px solid var(--soft-violet);
}

.dato-profilo:last-child {
	border-bottom: none;
}

.dato-profilo strong {
	color: var(--pale-sky);
}

.modifica-profilo {
	display: none;
}

.campo-profilo {
	display: flex;
	flex-direction: column;
	gap: 8px;
	margin-bottom: 18px;
}

.campo-profilo label {
	font-weight: 700;
}

.campo-profilo input {
	padding: 10px 15px;

	background-color: var(--soft-violet);
	color: var(--almost-white);

	border: 1px solid var(--soft-violet);
	border-radius: 20px;

	font-family: "Satoshi", sans-serif;
	font-weight: 500;
}

.bottoni-profilo {
	display: flex;
	justify-content: center;
	gap: 15px;
	margin-top: 25px;
}

.bottoni-profilo button,
.azioni-profilo button {
	padding: 10px 20px;

	background-color: var(--dusty-violet);
	color: var(--almost-white);

	border: 1px solid var(--dusty-violet);
	border-radius: 20px;

	font-family: "Satoshi", sans-serif;
	font-weight: 700;

	cursor: pointer;
}

.bottoni-profilo button:hover,
.azioni-profilo button:hover {
	background-color: var(--soft-violet);
}

.azioni-profilo {
	display: flex;
	justify-content: center;
	gap: 15px;
	margin-top: 30px;
}

.azioni-profilo a {
	text-decoration: none;
}